.app {
  .heading {
    text-align: center;
    margin-bottom: 40px;

    &__title {
      font-size: 25px;
      margin-top: 25px;
    }

    &__description {
      font-size: 16px;
      padding: 10px 0;
    }
  }

  .loading {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__icon {
      position: absolute;
      top: 50%;
      right: 50%;
    }
  }

  .dropzone {
    border: 2px dashed #ccc;
    height: 150px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__dragging {
      border-color: #000;
    }

    &__instruction {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icon {
        width: 10%;
      }
    }
  }

  .file-import {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .data-response {
    justify-content: center;

    &__item {
      padding: 0 25px;
      text-align: center;
    }
  }
}
